<%- include('../../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../../includes/navigation.ejs') %>
  <%- include('../includes/navigation.ejs') %>
  <main class="container">
    <%- include('../includes/documentation/infobox.ejs', {
        app: {
            path: 'app.js',
            imports: 'connect-flash, Mongoose, express-session, connect-mongodb-session, csurf',
            method: null,
            steps: translates.app,
            code: include('../includes/documentation/codes/app-flash-session-csrftoken.ejs')
        },
        routes: {
            path: 'routes/store/auth.js',
            imports: 'Express-validator',
            method: 'get(), post()',
            steps: translates.routes,
            code: include('../includes/documentation/codes/routes/auth.ejs')
        },
        model: {
            path: null,
            imports: null,
            method: null,
            steps: null,
            code: null
        },
        controller: {
            path: 'controllers/auth.js',
            imports: 'bcrypt, express-validator, model User',
            method: 'getLogin(), postLogin()',
            steps: translates.controller,
            code: include('../includes/documentation/codes/controllers/auth-login.ejs')
        },
        view: {
            path: 'views/shop/auth/login.ejs',
            imports: null,
            method: null,
            steps: translates.view,
            code: include('../includes/documentation/codes/views/auth/login.ejs')
        }
    }) %>
    <% if(errorMessage.length) { %>
        <div class="alert alert-danger"><%= errorMessage %></div>
    <% } %>
    <form
        class="login-form"
        action="/<%= global.lang.current %>/examples/store/auth/login"
        method="POST"
    >
        <div class="form-control">
            <label for="email">E-Mail</label>
            <input
                class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>"
                type="text"
                name="email"
                id="email"
                value="<%= oldInput.email %>"
            >
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input
                class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>"
                type="password"
                name="password"
                id="password"
                value="<%= oldInput.password %>"
            >
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="btn btn-success" type="submit">
            Login
        </button>
    </form>
    <div class="centered">
        <a href="/<%= global.lang.current %>/examples/store/auth/reset">Reset Password</a>
    </div>
</main>

  <%- include('../includes/end.ejs') %>