<%- include('includes/head.ejs') %>

</head>

<body>
   <%- include('includes/navigation.ejs') %>

  <div class="container">
    <h1 class="bg-dark text-white text-center my-4 py-4"><%= translates.title %></h1>

    <p class="alert alert-warning">
      <%- translates.warning %>
    </p>
    <h2 class="text-center mb-5"><%= translates.introduction %></h2>
    <h5 class="text-center">
      <%- translates.introDetails %>
    </h5>
    <div class="text-center mb-5 fs-5">
      <ul class="d-inline-block">
        <li>
          <a
            href="https://github.com/AntonioMCV/nodejswiki"
            target="_blank"
            rel="noreferrer"
          >
            GitHub
          </a>
        </li>
        <li>
          <a
            href="https://codesandbox.io/s/github/AntonioMCV/nodejswiki"
            target="_blank"
            rel="noreferrer"
          >
            SandBox
          </a>
        </li>
      </ul>
    </div>
    
    <div class="alert alert-secondary">
      <h3 class="mb-4"><%= translates.infoBoxTitle %></h3>
      <p><%= translates.infoBox %></p>
    </div>
  </div>

<%- include('includes/end.ejs') %>

