<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="container">
        <h1 class="bg-dark text-white text-center my-4 py-4"><%= translates.title %></h1>
        <div class="alert alert-warning">
            <%- translates.warning %>
            <button
                class="btn btn-outline-dark w-100 text-start m-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#ToggleCode"
                aria-expanded="false"
                aria-controls="ToggleCode"
            >
                Toggle Code app.js file
            </button>
            <pre
                class="bg-body-secondary rounded m-4 border border-2 border-secondary collapse"
                id="ToggleCode"
              >
                <code>
<%- include('./includes/documentation/codes/app.ejs') %>
                </code>
            </pre>
        </div>
        <div class="alert alert-secondary">
          <p><%- translates.infoBox %></p>
        </div>
        <%- include('./includes/navigation.ejs') %>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="/<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.price %></h2>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/examples/store/products/<%= product._id %>" class="btn btn-success">Details</a>
                            <% if(isAuthenticated) { %>
                                <%- include('./includes/add-to-cart.ejs', {product: product}) %>
                            <% } %>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('./includes/end.ejs') %>