<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <%- include('./includes/navigation.ejs') %>

    <main class="container">
        <%- include('./includes/documentation/infobox.ejs', {
            app: {
                path: 'app.js',
                imports: 'Mongoose, express-session, connect-mongodb-session, csurf',
                method: null,
                steps: translates.app,
                code: include('./includes/documentation/codes/app-session-csrftoken.ejs')
            },
            model: {
                path: 'models/product.js',
                imports: 'Mongoose',
                method: null,
                steps: translates.model,
                code: include('./includes/documentation/codes/models/product.ejs')
            },
            controller: {
                path: 'controllers/shop.js',
                imports: 'Product model',
                method: 'getProducts()',
                steps: translates.controller,
                code: include('./includes/documentation/codes/controllers/shop-getProducts.ejs')
            },
            view: {
                path: 'views/shop/product-list.ejs',
                imports: null,
                method: null,
                steps: translates.view,
                code: include('./includes/documentation/codes/views/product-list.ejs')
            }
        }) %>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="/<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.price %></h2>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/examples/store/products/<%= product._id %>" class="btn btn-success">Details</a>
                            <% if(isAuthenticated) { %>
                                <%- include('./includes/add-to-cart.ejs', {product: product}) %>
                            <% } %>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('./includes/end.ejs') %>